.icon-flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

.descr-label {
  position: absolute;
  transform: translate(-33%, -20px);
}

.good-against-label {
  position: fixed;
  top: 100%;
  right: 0;
}

.bad-against-label {
  position: fixed;
  top: 100%;
  left: 0;
}

.attack-container {
  display: flex;
  flex-direction: column;
}

.middle-element {
  margin: auto;
}
