<div [style]="{display: 'flex', transform: weakerElements.length > 0 ? 'translateX(-25%)' : 'translateX(-11%)', 'margin-top': '14px'}">
  <span *ngIf="strongerElements.length > 0">
    <app-element-icon [elementName]="stronger" *ngFor="let stronger of strongerElements"></app-element-icon>
    <img src="/assets/red_arrow.ico" alt="red arrow back" class="icon-flipped" style="padding: 2px 12px 2px 8px;">
    <label class="bad-against-label">Bad Against</label>
  </span>

  <span class="attack-container">
    <app-element-icon [elementName]="elementName" class="middle-element"></app-element-icon>
    <label *ngIf="descr" class="descr-label"> ( {{descr}} ) </label>
  </span>

  <span *ngIf="weakerElements.length > 0">
    <img src="/assets/green_arrow.ico" alt="green arrow" style="padding: 2px 12px 2px 8px;">
    <app-element-icon [elementName]="weak" *ngFor="let weak of weakerElements"></app-element-icon>
    <label class="good-against-label">Good Against</label>
  </span>
</div>
