.icon-flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

.avoid-attacks-label {
  position: relative;
  right: 100px;
  top: -20px;
}

.element-icons-container {
  display: flex;
  flex-wrap: wrap;
}

.element-icon {
  max-width: 25px;
}
