.app {
  position: absolute;
  left: 25%;
  margin: 0 auto;
}

.main::before {
  content: "";
  background-image: url('../assets/elementsGuide.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* Set rules to fill background */
  min-height: 100%;

  /* Set up proportionate scaling */
  width: 100%;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.2;
}

