<div style="transform: translateX(-20%);">
  <button *ngFor="let userPokemon of userPokemons"
          mat-stroked-button color="primary" style="margin: 3px 5px 3px 0;"
          (click)="pokemonSelected = userPokemon">{{ userPokemon }}</button>
</div>

<p>The Great TM Pokedex </p>
<div style="display: flex; min-width: 400px">
  <form>
    <mat-form-field class="example-full-width">
      <mat-label>Pokemon</mat-label>
      <input type="text" placeholder="enter pokemon name" name="pokemonName"
             [formControl]="pokemonSearchControl"
             [(ngModel)]="pokemonSelected" matInput [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let pokemonName of filteredPokemonNames | async" [value]="pokemonName">
          <span>
            {{pokemonName}}
            <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + detailsOf(pokemonName).number + '.png'" [alt]="pokemonName" class="pokemon-item-img">
          </span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <button mat-icon-button color="warn" (click)="pokemonSelected = null">
    <mat-icon>highlight_off</mat-icon>
  </button>
</div>

<app-pokemon-effects [pokemon]="detailsOf(pokemonSelected)"></app-pokemon-effects>

<h4 *ngIf="pokemonTMs && pokemonTMs.length > 0" style="margin-top: 45px">Available TMs:</h4>
<ol>
  <li *ngFor="let tmDetails of pokemonTMs" style="margin: 0 0 0 10px">
    {{ formatTM(tmDetails?.name) + ' (' + tmDetails?.descr + ' )'}}
    <app-element-icon [elementName]="tmDetails?.type" class="small-element"></app-element-icon>
  </li>
</ol>
<br>
<br>

<div>
  <a mat-stroked-button
     style="position: relative; left: -20%; text-transform: capitalize;"
     *ngIf="!!prevPokemonForm(pokemonSelected)"
     (click)="pokemonSearchControl.setValue(prevPokemonForm(pokemonSelected))" >
    ↓{{prevPokemonForm(pokemonSelected)}}
  </a>

  <button *ngIf="detailsOf(pokemonSelected) && !isUserPokemon(pokemonSelected)" mat-flat-button color="primary" (click)="saveSelected()">Save</button>
  <button *ngIf="isUserPokemon(pokemonSelected)" mat-flat-button color="primary" (click)="removeSelected()">Remove</button>

  <a mat-stroked-button
     style="position: relative; right: -20%; text-transform: capitalize;"
     *ngIf="detailsOf(pokemonSelected)?.evolution"
     (click)="pokemonSearchControl.setValue(detailsOf(pokemonSelected).evolution)" >
    {{detailsOf(pokemonSelected)?.evolution}}↑
  </a>
</div>
