.small-element {
  position: relative;
  top: 15px;
}

.pokemon-item-img {
  position: absolute;
  transform: translateY(-25%);
}

.user-pokemon {
  display: flex;
  flex-direction: column-reverse;
}

