<p>The Great TM Pokedex </p>
<div style="display: flex; min-width: 400px">
  <form>
    <mat-form-field class="example-full-width">
      <mat-label>Pokemon</mat-label>
      <input type="text" placeholder="enter pokemon name" name="pokemonName"
             [formControl]="pokemonSearchControl"
             [(ngModel)]="pokemonSelected" matInput [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let pokemonName of filteredPokemonNames | async" [value]="pokemonName">
          {{pokemonName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <button mat-mini-fab color="primary" (click)="updatePokemonTms(pokemonSelected || '')">
    <mat-icon>search</mat-icon>
  </button>
</div>

<app-pokemon-effects [pokemon]="detailsOf(pokemonSelected)"></app-pokemon-effects>

<div *ngFor="let tmDetails of pokemonTMs" style="margin: 0 0 0 10px">
  <br>
  <label>{{ tmDetails }}</label>
</div>

